NodeRED/signalctrl.txt
[{"id":"5bbb6bb8.3a6794","type":"ui_template","z":"ce0d3bcc.85e348","group":"83790385.3291","name":"Stop","order":3,"width":"3","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#FFFFFF\" ng-click=\"send({payload: 0})\" > \n<svg  width=\"100px\" height=\"60px\" version=\"1.1\" viewBox=\"0 0 800 200\">\n <g id=\"Button_Long_TH\">\n  \n  <rect fill=\"#FFFFFF\" width=\"800\" height=\"200\"/>\n  <g ng-style=\"{fill: 'red'}\">\n    <rect width=\"800\" height=\"200\" rx=\"80\" ry=\"80\"/>\n  </g>\n  \n  <g ng-style=\"{fill: 'red'}\">\n    <rect x=\"11\" y=\"10\" width=\"778\" height=\"180\" rx=\"90\" ry=\"90\"/>\n  </g>\n  <g ng-style=\"{fill:'black'}\">\n      \n    <text x=\"400\" y=\"125\" style=\"text-anchor:middle\"  font-weight=\"bold\" font-size=\"80\" font-family=\"Arial\">{{\"STOP\"}} </text>\n    </g>\n  </g>\n</svg>\n\n\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":508.01953125,"y":556.00390625,"wires":[["b47b6c4e.bf533"]]},{"id":"495cd1d9.fd0c1","type":"ui_template","z":"ce0d3bcc.85e348","group":"83790385.3291","name":"Slow","order":4,"width":"3","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#FFFFFF\" ng-click=\"send({payload: 2})\" > \n<svg  width=\"100px\" height=\"60px\" version=\"1.1\" viewBox=\"0 0 800 200\">\n <g id=\"Button_Long_CL\">\n  \n  <rect fill=\"#FFFFFF\" width=\"800\" height=\"200\"/>\n  <g ng-style=\"{fill: 'gold'}\">\n    <rect width=\"800\" height=\"200\" rx=\"80\" ry=\"80\"/>\n  </g>\n  \n  <g ng-style=\"{fill: 'gold'}\">\n    <rect x=\"11\" y=\"10\" width=\"778\" height=\"180\" rx=\"90\" ry=\"90\"/>\n  </g>\n  <g ng-style=\"{fill:'white'}\">\n      \n    <text x=\"400\" y=\"125\" style=\"text-anchor:middle\"  font-weight=\"bold\" font-size=\"80\" font-family=\"Arial\">{{\"SLOW\"}} </text>\n    </g>\n  </g>\n</svg>\n\n\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":505.0889892578125,"y":592.4414672851562,"wires":[["b47b6c4e.bf533"]]},{"id":"98208f15.f657a","type":"ui_template","z":"ce0d3bcc.85e348","group":"83790385.3291","name":"Approach","order":5,"width":"3","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#FFFFFF\" ng-click=\"send({payload: 5})\" > \n<svg  width=\"100px\" height=\"60px\" version=\"1.1\" viewBox=\"0 0 800 200\">\n <g id=\"Button_Long_TH\">\n  \n  <rect fill=\"#FFFFFF\" width=\"800\" height=\"200\"/>\n  <g ng-style=\"{fill: 'orange'}\">\n    <rect width=\"800\" height=\"200\" rx=\"80\" ry=\"80\"/>\n  </g>\n  \n  <g ng-style=\"{fill: 'orange'}\">\n    <rect x=\"11\" y=\"10\" width=\"778\" height=\"180\" rx=\"90\" ry=\"90\"/>\n  </g>\n  <g ng-style=\"{fill:'black'}\">\n      \n    <text x=\"400\" y=\"125\" style=\"text-anchor:middle\"  font-weight=\"bold\" font-size=\"80\" font-family=\"Arial\">{{\"APPROACH\"}} </text>\n    </g>\n  </g>\n</svg>\n\n\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":517.01953125,"y":631.00390625,"wires":[["b47b6c4e.bf533"]]},{"id":"a74ffaec.c04978","type":"ui_template","z":"ce0d3bcc.85e348","group":"83790385.3291","name":"Clear","order":6,"width":"3","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#FFFFFF\" ng-click=\"send({payload: 10})\" > \n<svg  width=\"100px\" height=\"60px\" version=\"1.1\" viewBox=\"0 0 800 200\">\n <g id=\"Button_Long_CL\">\n  \n  <rect fill=\"#FFFFFF\" width=\"800\" height=\"200\"/>\n  <g ng-style=\"{fill: 'green'}\">\n    <rect width=\"800\" height=\"200\" rx=\"80\" ry=\"80\"/>\n  </g>\n  \n  <g ng-style=\"{fill: 'green'}\">\n    <rect x=\"11\" y=\"10\" width=\"778\" height=\"180\" rx=\"90\" ry=\"90\"/>\n  </g>\n  <g ng-style=\"{fill:'white'}\">\n      \n    <text x=\"400\" y=\"125\" style=\"text-anchor:middle\"  font-weight=\"bold\" font-size=\"80\" font-family=\"Arial\">{{\"CLEAR\"}} </text>\n    </g>\n  </g>\n</svg>\n\n\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":504.0889892578125,"y":667.4414672851562,"wires":[["b47b6c4e.bf533"]]},{"id":"b47b6c4e.bf533","type":"function","z":"ce0d3bcc.85e348","name":"Signal Controller Function","func":"//storing incoming values for Switch Address and Bushby Bit Status\nif (msg.payload === null)\n    return null;\n\nif (msg.topic == \"sigHead\")\n{\n    var newAddr = parseInt(msg.payload)-1;\n    context.set(\"sigHead\", newAddr)\n    return null\n}\n\n//function to create JSON String for sending to the MQTT broker\nfunction createJSON(fromData)\n{\n    var retStr = \"{\\\"From\\\":\\\"Switch Board\\\", \\\"Valid\\\":1, \\\"Data\\\":[\";\n    var xorCode = 0;\n    for (i = 0; i < fromData.length; i++)\n    {\n        var byteCode = parseInt(fromData[i]);\n        retStr = retStr + byteCode.toString() + \",\"\n        xorCode = xorCode ^ byteCode;\n    }\n    xorCode = xorCode ^ 0xFF;\n    retStr = retStr + xorCode.toString() + \"]}\";\n    return retStr;\n}\n\n//in case the user has not set a Head Address, we exit without sending anything\nvar sigHead = context.get(\"sigHead\");\nif (sigHead === undefined) \n    return null;\n\n//in case the user has not set a Signal Aspect, we exit without sending anything\n//var sigAspect = context.get(\"sigAspect\");\n//if (sigAspect === undefined) \n//    return null;\n \nvar sigAspect = msg.payload;   \n//everything looking good, let's send the command\nvar onMsg;\nvar data= [0xED,0x0B,0x7F,0,0,0,0,0,0,0];\nvar boardAddr = (((sigHead-1) & 0x07FC)>>2) + 1;\nvar turnoutIndex = (sigHead-1) & 0x03;\ndata[3] = 0x31; //3 IM Bytes, 3 repetitions\ndata[5] = ((boardAddr & 0x003F)) | 0x80; //IM1\ndata[6] = ( (~boardAddr & 0x01C0)>>2) | ((turnoutIndex & 0x03)<<1) | 0x01; //IM2\ndata[7] = (sigAspect & 0x01FF); //IM3\ndata[4] = ((data[5] & 0x80)>>7) + ((data[6] & 0x80)>>6) + 0x20; //DHI\ndata[5] &= 0x7F;\ndata[6] &= 0x7F;\nonMsg = {payload : createJSON(data)};\nreturn onMsg;","outputs":1,"noerr":0,"x":897.9999923706055,"y":579.0000143051147,"wires":[["e9d716d9.dd4538","dee1ff05.914f"]]},{"id":"dee1ff05.914f","type":"mqtt out","z":"ce0d3bcc.85e348","name":"lnBC","topic":"lnIn","qos":"1","retain":"","broker":"5bc7cc44.39f4b4","x":876,"y":456.9999694824219,"wires":[]},{"id":"83790385.3291","type":"ui_group","z":"","name":"Signal Control","tab":"1368abea.a98424","order":4,"disp":true,"width":"6","collapse":false},{"id":"5bc7cc44.39f4b4","type":"mqtt-broker","z":"","name":"","broker":"192.168.87.52","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1368abea.a98424","type":"ui_tab","z":"","name":"LocoNet","icon":"dashboard","order":2}]